<!-- Inclui head -->
<%- include("partials/head.ejs") %>

<body>
    
    <!-- Inclui navbar-->
    <%- include("partials/navbar.ejs") %>
    
    <div class="container">


        <h1>Perguntas</h1>
        <hr>
        <a href="/newquestion" class="btn btn-primary">Perguntar</a>
    
        <% if(questions.length!=0){ %>
    
            <% questions.forEach(question => { %>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h3> <%= question.title %> </h3>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" href='/question/<%= question.id %>' >Responder</a>
                    </div>
                </div> 
                
                <% }) %>
    
        <% }else{ %>
           
            <h3> Ainda não há perguntas</h3>
            <!-- Inclui seção superior da página-->
            <%- include("partials/background-home.ejs") %>
    
            <% } %>

    </div>

        
    </body>
    
    <!-- Inclui footer -->
    <%- include("partials/footer.ejs") %>
