<!-- Inclui head -->
<%- include("partials/head.ejs") %>

<body>
    
    <!-- Inclui navbar-->
    <%- include("partials/navbar.ejs") %>
    
    <div class="container">

        <hr>
        <h1><%= question.title %></h1>
        <p><%= question.description %></p>
        <hr>
        <form  method="POST" action="/save-answer">
            <label for="answeBody" class="sr-only">Corpo da resposta</label>
            <textarea placeholder="Digite sua resposta" id="answerBody" class="form-control" name="answerBody"></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Responder</button>
            <input type="text" value="<%= question.id %>" name="questionId" class="sr-only">
        </form>

        <% if(answers.length!=0){ %>

        <% answers.forEach(answer => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <p> <%= answer.body %> </p>
                </div>
            </div> 
            
            <% }) %>

    <% }else{ %>
       
        <h3> Ainda não há perguntas</h3>
        <!-- Inclui seção superior da página-->
        <%- include("partials/background-home.ejs") %>

        <% } %>


    </div>

        
    </body>
    
    <!-- Inclui footer -->
    <%- include("partials/footer.ejs") %>
